span {
    color: #000000;
}

.drawer-content {
    padding: 20px;
}

.drawer-item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.drawer-text {
    margin-right: 8px;
    font-weight: 500;
    color: #333;
}

.btn-drawer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 12px;
    background-color: #f5222d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn-drawer:hover {
    background-color: #cf1322;
}